.navbar {
  margin-top: 10px;
  background-color: transparent;
  text-align: center;
}

.navbar.page-navbar {
  margin-top: 0px;
  padding-top: 14px;
  padding-bottom: 17px;
  background-image: url('../images/textura_1.png');
  background-position: 0px 0px;
  background-size: 667px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .15);
}

.container {
  display: block;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-menu {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding-top: 60px;
  background-color: rgba(173, 93, 2, .86);
  background-image: url('../images/asfalt-dark.png');
  background-position: 0px 0px;
  background-size: 233px;
  text-align: center;
}

.navbar-menu.navbar-menu-pages {
  display: none;
  padding-top: 60px;
  background-color: rgba(173, 93, 2, .86);
  background-image: url('../images/asfalt-dark.png');
  background-position: 0px 0px;
  background-size: 233px;
}

.navbar-menu-link {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-menu-link:hover {
  color: #f3be82;
  text-decoration: underline;
}

.navbar-menu-button {
  margin-top: 34px;
  margin-left: 3px;
  padding-right: 0px;
  color: #c9660d;
  font-size: 49px;
}

.navbar-menu-button.w--open {
  margin-top: 25px;
  background-color: transparent;
}

.navbar-brand {
  display: inline-block;
  margin-left: 112px;
  float: none;
}

.section-title {
  font-family: Abrahamlincoln, sans-serif;
  font-size: 82px;
  font-weight: 400;
}

.section-title.beer-backend-section-title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 78px;
}

.section-title.section-first-beer-title {
  margin-top: 0px;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 10px;
  color: #fff;
  font-size: 66px;
}

.section-title.section-first-beer-title.seal-title {
  display: inline-block;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 66px;
}

.section-title.section-first-beer-title.kit-title {
  margin-top: 95px;
  margin-bottom: 30px;
  padding-left: 3px;
  color: #5d5d5d;
  font-size: 80px;
  line-height: 52px;
}

.section-title.section-newsletter-title {
  display: inline-block;
  margin-top: 5px;
  float: none;
  color: #d87300;
  font-size: 60px;
  line-height: 41px;
  font-weight: 400;
  text-align: left;
}

.section-title.beer-page-title {
  margin-bottom: 30px;
  padding-left: 10px;
  color: #fff;
  font-size: 74px;
}

.section-paragraph {
  margin-bottom: 35px;
  padding-left: 10px;
  font-family: Amiko, sans-serif;
  color: #4d4d4d;
  text-align: left;
  letter-spacing: 0px;
}

.section-paragraph.beer-backend-paragraph {
  padding-left: 0px;
  color: #dfdfdf;
  font-size: 12px;
  line-height: 18px;
}

.section-paragraph.section-first-beer-paragraph {
  padding-left: 10px;
  color: #fff;
  font-size: 12px;
}

.section-paragraph.section-first-beer-paragraph.seal-paragraph {
  margin-top: 20px;
  padding-left: 25px;
  font-size: 12px;
}

.section-paragraph.section-first-beer-paragraph.kit-paragraph {
  margin-bottom: 20px;
  padding-left: 5px;
  color: #5d5d5d;
}

.section-paragraph.fabric-paragraph {
  margin-bottom: 0px;
  padding-bottom: 35px;
}

.section-beer-backend {
  margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #c5631c;
  background-image: url('../images/asfalt-dark.png');
  background-position: 0px 0px;
  background-size: 233px;
}

.beer-background-video {
  width: 208px;
  height: 686px;
}

.beer-background-video-column {
  margin-top: 56px;
  padding-right: 0px;
}

.beer-background-image-video {
  max-width: 101%;
}

.background-beer-detail {
  margin-top: 65px;
  padding-top: 25px;
}

.background-beer-detail.background-beer-detail-2 {
  margin-top: 43px;
}

.background-beer-detail-line {
  display: inline-block;
  width: 170px;
  height: 2px;
  margin-top: 10px;
  margin-left: -105px;
  background-color: #fff;
}

.background-beer-detail-title {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Abrahamlincoln, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.background-beer-detail-paragraph {
  margin-top: 10px;
  padding-left: 0px;
  font-family: Amiko, sans-serif;
  color: #e2e2e2;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0px;
}

.background-beer-detail-text {
  margin-top: -61px;
  padding-left: 90px;
}

.body {
  height: 100%;
  background-color: #f8f8f3;
}

.section-beer {
  margin-bottom: 0px;
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url('../images/bg_asfalt.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url('../images/bg_asfalt.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.section-beer.page-beer-section {
  padding-top: 50px;
  padding-bottom: 60px;
}

.section-beer.section-kit {
  padding-bottom: 45px;
  border-top: 1px solid hsla(0, 0%, 84%, .35);
  background-color: #f8f6f1;
  background-image: none;
  background-size: auto;
}

.navbar-social-icon {
  margin-top: 50px;
  margin-right: 16px;
  float: left;
  text-decoration: none;
}

.navbar-social-icon-text {
  margin-top: 10px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Fontawesome, sans-serif;
  color: #d2680a;
  font-size: 24px;
  text-decoration: none;
}

.navbar-social-icon-text:hover {
  color: #e4a36a;
}

.scroll-navbar {
  position: fixed;
  z-index: 2000;
  width: 100%;
  margin-top: -82px;
  padding: 10px 40px;
  background-color: hsla(44, 48%, 94%, .9);
  background-image: url('../images/textura_1.png');
  background-position: 0px 0px;
  background-size: 667px;
  box-shadow: 0 8px 11px 0 rgba(0, 0, 0, .35);
  opacity: 0;
}

.scroll-navbar-menu {
  display: inline-block;
  margin-top: 23px;
  float: right;
}

.scroll-navbar-menu-item {
  margin-left: 35px;
  padding: 0px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Amiko, sans-serif;
  color: #d87300;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll-navbar-menu-item:hover {
  color: #cacaca;
}

.scroll-navbar-menu-item.w--current {
  color: #d87300;
}

.scroll-navbar-menu-item-dropdown {
  padding: 0px;
}

.scroll-navbar-dropdown-list-item {
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #3d3d3d;
  background-color: #313131;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.scroll-navbar-dropdown-list-item:hover {
  background-color: #505050;
}

.scroll-navbar-dropdown-list.w--open {
  margin-left: 23px;
}

.navbar-menu-item {
  margin-bottom: 45px;
  text-align: center;
}

.navbar-close-button {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 29px;
  height: 31px;
  margin-top: 60px;
  margin-right: 60px;
  background-image: url('../images/close_menu_icon_white.png');
  background-position: 50% 50%;
  background-size: 29px;
  background-repeat: no-repeat;
}

.section-newsletter {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #272727;
  background-color: #111;
  text-align: center;
}

.section-newsletter-title-icon {
  margin-top: -32px;
  margin-right: 13px;
  float: none;
}

.sectionnewsletter-form-input {
  display: inline-block;
  width: 74%;
  height: 55px;
  margin-top: 15px;
  padding-top: 12px;
  padding-left: 17px;
  float: left;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  font-family: Amiko, sans-serif;
  color: #797979;
  font-size: 18px;
  letter-spacing: 0px;
}

.sectionnewsletter-form-input:active {
  border: 1px solid #d87300;
}

.sectionnewsletter-form-input:focus {
  border: 1px solid #d87300;
}

.section-newsletter-button {
  position: relative;
  top: 4px;
  height: 55px;
  margin-top: 11px;
  margin-left: 6px;
  padding: 18px 26px 21px;
  float: left;
  border: 1px solid #d87300;
  border-radius: 2px;
  background-color: #d87300;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Amiko, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.section-newsletter-button:hover {
  border: 1px solid #d87300;
  background-color: transparent;
  color: #d87300;
}

.section-newsletter-form {
  text-align: center;
}

.section-newsletter-assign-box {
  position: relative;
  top: -24px;
  display: inline-block;
  margin-left: 47px;
  text-align: left;
}

.footer {
  padding-top: 40px;
  padding-bottom: 34px;
  background-color: #111;
}

.footer-social-icons-box {
  display: inline-block;
  margin-top: -12px;
  float: right;
}

.footer-social-icon {
  margin-left: 15px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.footer-social-icon:hover {
  color: #f18103;
}

.footer-text-box {
  display: inline-block;
  float: right;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-weight: 600;
}

.page-title {
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: #f8f6f1;
  background-image: url('../images/asfalt-dark.png');
  background-position: 0px 0px;
  background-size: 233px;
  text-align: center;
}

.page-header-title {
  display: inline-block;
  margin: 0px 10px;
  font-family: Abrahamlincoln, sans-serif;
  color: #d26809;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.page-header-title-image-1 {
  margin-top: -25px;
}

.details-item-title {
  display: inline-block;
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 14px;
  font-family: Abrahamlincoln, sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
}

.details-item-paragraph {
  margin-top: 0px;
  padding-left: 15px;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
}

.details-image-column {
  margin-bottom: 40px;
  padding-top: 15px;
  text-align: center;
}

.image-section {
  height: 500px;
  background-image: url('../images/sobre_a_leopoldina_imagem.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.paragraph-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url('../images/textura_1.png');
  background-position: 0px 0px;
  background-size: 667px;
}

.paragraph-section-h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Abrahamlincoln, sans-serif;
  color: #c67120;
  font-size: 74px;
  font-weight: 400;
}

.paragraph-section-p {
  font-family: Amiko, sans-serif;
  color: #555;
  letter-spacing: 0px;
}

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
}

.copyright-text {
  display: inline-block;
  font-family: Amiko, sans-serif;
  color: #ccc;
  font-size: 12px;
  letter-spacing: 0px;
}

.copyright-text.od-text {
  float: right;
}

.od-link {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #0b7;
  text-decoration: none;
}

.od-link:hover {
  color: #fff;
}

.section-contact-form {
  margin-bottom: 1px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f8f6f1;
}

.form-label {
  font-family: Amiko, sans-serif;
  color: #535353;
  font-size: 14px;
  letter-spacing: 0px;
}

.form-input {
  height: 55px;
  padding-top: 10px;
  padding-left: 17px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Amiko, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
}

.form-input:active {
  border: 1px solid #d87300;
}

.form-input:focus {
  border: 1px solid #d87300;
}

.form-text-area-box {
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.form-textarea {
  min-height: 160px;
  padding-top: 15px;
  padding-left: 15px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Amiko, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
}

.form-textarea:active {
  border: 1px solid #d87300;
}

.form-textarea:focus {
  border: 1px solid #d87300;
}

.utility-page-wrap {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/textura_1.png');
  background-position: 0px 0px;
  background-size: 667px;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.paragraph-section-image {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-content {
  padding: 10px 24px 35px;
  background-color: #f8f6f1;
}

.section-beer-buttons {
  margin-left: 5px;
}

._404_title {
  margin-bottom: 30px;
  font-family: Abrahamlincoln, sans-serif;
  color: #d4691b;
  font-size: 72px;
}

._404_subtitle {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Amiko, sans-serif;
  color: #474747;
}

.image {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

._404_link {
  margin-top: 15px;
  font-family: Amiko, sans-serif;
  color: #d4691b;
  font-size: 17px;
  font-weight: 700;
}

.section-beer-seal {
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
}

.navbar-shop-button {
  margin-top: 48px;
  margin-left: 10px;
  float: right;
}

.navbar-shop-button.home-shop-button-mobile {
  display: inline-block;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 15px;
}

.navbar-shop-button.home-shop-button-mobile.search-button {
  margin-top: 52px;
  cursor: pointer;
}

.infos-column {
  padding-left: 50px;
}

.paragraph-phone {
  font-size: 16px;
}

.back-top-button {
  position: fixed;
  right: -100px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-bottom: 60px;
  padding-top: 11px;
  border-radius: 100%;
  background-color: #df8119;
  text-align: center;
}

.paragraph-bg {
  padding-top: 50px;
  background-color: #f8f6f1;
}

.search-modal {
  position: fixed;
  z-index: 300000;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 190px;
  background-color: rgba(173, 93, 2, .9);
  opacity: 0;
  text-align: center;
}

.search-modal.pages-search-modal {
  margin-top: -14px;
}

.search-modal_input {
  display: inline-block;
  width: 60%;
  margin-top: 8px;
  padding-top: 21px;
  padding-bottom: 25px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #ffe4e4;
  background-color: transparent;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 24px;
}

.search-modal_button {
  position: relative;
  top: 4px;
  margin-left: 10px;
  padding: 13px 25px 8px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Amiko, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.search-modal_button:hover {
  background-color: transparent;
  color: #fff;
}

.footer-h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.footer-text {
  font-family: Amiko, sans-serif;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
}

.footer-text.link {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #f18103;
}

.footer-text.link:hover {
  color: #909090;
}

.hero-section {
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/bg_hero-2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/bg_hero-2.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.main-navbar_logo-box {
  padding: 20px 13px;
  float: left;
  border-top: 5px solid #ffe5c1;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #d3691b;
  box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, .4);
  text-align: center;
}

.main-navbar_logo-box.page-header_logo {
  border-top-color: #f2e4c8;
  box-shadow: 6px 6px 27px 0 rgba(0, 0, 0, .17);
}

.main-navbar-menu {
  display: inline-block;
  margin-top: 55px;
  float: right;
}

.main-navbar-menu_link {
  margin-left: 30px;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navbar-menu_link:hover {
  color: #e27524;
}

.main-navbar-menu_link.page-header_navbar-link {
  color: #757575;
}

.main-navbar-menu_link.page-header_navbar-link:hover {
  color: #acacac;
}

.hero-section_content {
  margin-top: 115px;
  text-align: right;
}

.hero-section_title {
  margin-top: 0px;
  font-family: Abrahamlincoln, sans-serif;
  color: #fff;
  font-size: 78px;
  font-weight: 400;
}

.hero-section_paragraph {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 405px;
  font-family: Amiko, sans-serif;
  color: hsla(0, 0%, 100%, .85);
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.btn {
  padding: 11px 18px 8px;
  border: 1px solid #d3691b;
  background-color: #d3691b;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Amiko, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #d3691b;
}

.btn.btn_style_2 {
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
}

.btn.btn_style_2:hover {
  background-color: hsla(0, 0%, 99%, .15);
  color: #fff;
}

.btn.btn_style_2.hero-section_2button {
  margin-left: 10px;
}

.btn.btn_style_2.section-products_home-btn {
  margin-right: 10px;
}

.btn.btn_style_2.beer-page_btn {
  width: 92%;
  margin-top: 10px;
}

.btn.beer-page_btn {
  width: 92%;
}

.btn.form-button {
  margin-right: 10px;
  float: right;
}

.btn.download-modal_form-btn {
  margin-right: 10px;
  float: right;
}

.main-navbar_icons {
  margin-bottom: 10px;
  text-align: right;
}

.main-navbar_icons-social {
  margin-left: 10px;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  text-decoration: none;
}

.main-navbar_icons-social:hover {
  color: #f58634;
}

.main-navbar_icons-social.page-header_social-icon {
  color: #8f8f8f;
}

.main-navbar_icons-divisor {
  position: relative;
  bottom: -2px;
  display: inline-block;
  width: 1px;
  height: 13px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: hsla(0, 0%, 100%, .55);
}

.main-navbar_icons-divisor.page-header_icons-divisor {
  background-color: hsla(0, 0%, 81%, .55);
}

.main-navbar_icons-search {
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  background-image: url('../images/icon-search_sprite-hidpi.png');
  background-position: 0px 0px;
  background-size: 44px;
}

.main-navbar_icons-search:hover {
  background-position: -22px 0px;
}

.main-navbar_icons-search.page-header_search-icon {
  background-image: url('../images/icon-search_sprite2-hidpi.png');
  background-size: 44px;
}

.section-products_home {
  padding-top: 55px;
  padding-bottom: 55px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/bg_asfalt.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/bg_asfalt.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.section-products_home-item {
  text-align: center;
}

.section-products_home-title {
  margin-top: 0px;
  font-family: Abrahamlincoln, sans-serif;
  color: hsla(0, 0%, 100%, .7);
  font-size: 34px;
  font-weight: 400;
}

.footer-newsletter_title {
  margin-top: 0px;
  font-family: Amiko, sans-serif;
  color: #bebebe;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-newsletter_input {
  display: inline-block;
  width: 30%;
  padding: 10px 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #474747;
  background-color: transparent;
  font-family: Amiko, sans-serif;
  font-size: 14px;
}

.footer-newsletter_btn {
  position: relative;
  top: -4px;
  margin-left: 10px;
  padding-top: 11px;
  padding-bottom: 6px;
  border: 1px solid #d3691b;
  background-color: #d3691b;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Amiko, sans-serif;
}

.footer-newsletter_btn:hover {
  border-color: #fff;
  background-color: transparent;
}

.header-pages {
  padding-bottom: 30px;
  background-color: #f8f6f1;
  background-image: url('../images/asfalt-dark.png');
  background-position: 0px 0px;
  background-size: 233px;
}

.section-beer_title-line {
  width: 60px;
  height: 5px;
  margin-top: 60px;
  margin-left: 10px;
  background-color: #19aa8a;
}

.section-beer_title-line.ipa-line {
  background-color: #c03b3a;
}

.section-beer_title-line.pilsner-line {
  background-color: #fdbc33;
}

.section-beer_title-line.session-line {
  background-color: #d3643c;
}

.section-beer_title-line.bohemian-line {
  background-color: #334c6e;
}

.section-beer_title-line.strong-ale-line {
  background-color: #85673d;
}

.section-beer_title-line.elements-title_line {
  width: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.beer-page_img-column {
  text-align: center;
}

.beer-elements_title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: Abrahamlincoln, sans-serif;
  color: #fff;
  font-size: 53px;
  font-weight: 400;
}

.beer-elements_div {
  margin-top: 25px;
}

.beer-elements_box {
  margin-left: 10px;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 0px;
  border-top: 5px solid #0e725c;
  background-color: #118b70;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.beer-elements_box.elements-box_coentro {
  border-top-color: #127e46;
  background-color: #169754;
}

.section-beer-header {
  margin-bottom: 15px;
  text-align: right;
}

.section-beer-header_more-link {
  padding: 11px 10px 7px 12px;
  border: 1px solid #757575;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Amiko, sans-serif;
  color: hsla(0, 0%, 100%, .7);
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.section-beer-header_more-link:hover {
  border-color: #d6905d;
  color: #d6905d;
}

.section-beer_dropdown-item {
  padding-top: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #494949;
  background-color: #545555;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Amiko, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.section-beer_dropdown-item:hover {
  background-color: #2a2a2a;
}

.section-beer_dropdown-item.dropdown-btn-all-items {
  padding-top: 12px;
  padding-bottom: 11px;
  border-bottom-style: none;
  background-color: #a55419;
}

.section-beer_dropdown-item.dropdown-btn-all-items:hover {
  background-color: #c36521;
}

.section-beer_dropdown-list.w--open {
  right: 0px;
  background-color: transparent;
  box-shadow: 3px 11px 16px 0 rgba(0, 0, 0, .21);
}

.download-modal,.news-modal {
  position: fixed;
  z-index: 300000;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 190px;
  background-color: hsla(0, 0%, 5%, .95);
  opacity: 0;
  text-align: center;
}
.news-active-modal{
  display: block; transition: opacity 400ms; opacity: 1;
}

.download-modal_title {
  font-family: Abrahamlincoln, sans-serif;
  color: #f6f6f6;
  font-size: 70px;
  font-weight: 400;
}

.modal-download_paragraph {
  margin-top: 25px;
  font-family: Amiko, sans-serif;
  color: #c2c2c2;
  text-align: center;
}

.download-modal_form {
  padding-right: 30px;
  padding-left: 30px;
}

.download-modal_form-label {
  margin-top: 15px;
  font-family: Amiko, sans-serif;
  color: #acacac;
  font-weight: 400;
  text-align: left;
}

.download-modal_form-input {
  height: 50px;
  border: 1px solid dimgrey;
  background-color: transparent;
  font-family: Amiko, sans-serif;
  color: #909090;
}

.main-navbar_submenu-item {
  display: inline-block;
  margin-right: 20px;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  font-family: Amiko, sans-serif;
  color: #e4e4e4;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navbar_submenu-item:hover {
  color: #e27524;
}

.main-navbar_submenu-item.page-header_submenu-link {
  color: #9e9e9e;
}

.main-navbar_submenu-item.page-header_submenu-link:hover {
  color: #acacac;
}

.navigation {
  background-color: transparent;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="bottomanimation-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="bottomanimation-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="scrollbeer-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -150px);
  -ms-transform: translate(0px, -150px);
  transform: translate(0px, -150px);
}

html.w-mod-js *[data-ix="hidescrollnavbar"] {
  opacity: 0;
  -webkit-transform: translate(0px, -67px);
  -ms-transform: translate(0px, -67px);
  transform: translate(0px, -67px);
}

html.w-mod-js *[data-ix="hidenavbar"] {
  display: none;
  opacity: 0;
}

@media (max-width: 991px) {
  .container {
    width: auto;
  }
  .navbar-menu {
    display: none;
    margin-left: -25px;
  }
  .section-title.section-first-beer-title {
    margin-top: 10px;
    line-height: 69px;
  }
  .section-title.section-first-beer-title.seal-title {
    margin-bottom: 5px;
    padding-top: 0px;
  }
  .section-title.section-first-beer-title.kit-title {
    margin-top: 45px;
    font-size: 66px;
  }
  .section-paragraph.fabric-paragraph {
    padding-right: 25px;
    padding-left: 25px;
  }
  .section-beer {
    padding-right: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
  }
  .scroll-navbar {
    display: none;
  }
  .section-newsletter {
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-header-title {
    font-size: 56px;
  }
  .details-item-title {
    display: block;
    margin-left: 10px;
    padding-right: 20px;
    font-size: 28px;
  }
  .details-item-paragraph {
    padding-left: 10px;
  }
  .paragraph-section {
    padding-right: 40px;
    padding-left: 40px;
  }
  .copyright {
    padding-top: 20px;
    padding-left: 20px;
  }
  .copyright-text {
    display: block;
    margin-bottom: 9px;
    text-align: center;
  }
  .copyright-text.od-text {
    float: none;
  }
  .section-contact-form {
    padding-right: 40px;
    padding-left: 40px;
  }
  .infos-column {
    padding-left: 20px;
  }
  .hero-section {
    height: auto;
    padding-bottom: 125px;
  }
  .main-navbar_logo-box {
    margin-left: 50px;
  }
  .main-navbar-menu {
    display: block;
    margin-top: 35px;
    float: none;
  }
  .main-navbar-menu_link {
    display: block;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #141414;
    background-color: rgba(0, 0, 0, .9);
  }
  .main-navbar-menu_link.w--current {
    display: block;
    margin-left: 0px;
  }
  .main-navbar-menu_link.page-header_navbar-link {
    color: #fff;
  }
  .main-navbar-menu_link.page-header_navbar-link:hover {
    color: #e27524;
  }
  .hero-section_content {
    padding-right: 40px;
  }
  .hero-section_paragraph {
    padding-left: 270px;
  }
  .btn.btn_style_2.section-products_home-btn {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .main-navbar_icons-search {
    margin-right: 42px;
  }
  .section-products_home-title {
    min-height: 80px;
    line-height: 33px;
  }
  .section-beer_title-line {
    margin-top: 0px;
  }
  .download-modal {
    display: none;
    padding-right: 30px;
    padding-left: 30px;
    opacity: 0;
  }
  .main-navbar_submenu-item {
    display: none;
  }
  .navigation {
    display: block;
  }
  .navigation-menu-button {
    margin-top: 9px;
    margin-right: 40px;
    padding: 0px;
    color: #fff;
    font-size: 42px;
  }
  .navigation-menu-button.w--open {
    margin-right: 40px;
    background-color: transparent;
  }
  .navigation-menu-button.header-pages_menu-button {
    color: #727272;
  }
  .navigation-menu {
    width: auto;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .navbar.page-navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-menu.navbar-menu-pages {
    display: none;
    margin-left: -16px;
  }
  .navbar-brand {
    margin-left: 36px;
  }
  .section-title.section-newsletter-title {
    margin-top: 45px;
  }
  .section-title.beer-page-title {
    margin-top: 35px;
  }
  .section-paragraph {
    padding-right: 10px;
  }
  .section-paragraph.section-first-beer-paragraph.seal-paragraph {
    margin-top: 0px;
  }
  .section-beer-backend {
    padding-right: 10px;
    padding-left: 10px;
  }
  .beer-background-video-column {
    display: none;
  }
  .background-beer-detail {
    margin-top: 45px;
    padding-top: 0px;
  }
  .background-beer-detail.background-beer-detail-2 {
    margin-top: 45px;
  }
  .background-beer-detail-line {
    display: none;
  }
  .background-beer-detail-title {
    margin-top: 0px;
  }
  .background-beer-detail-text {
    margin-top: 0px;
    padding-left: 0px;
  }
  .section-beer {
    text-align: center;
  }
  .section-newsletter-title-icon {
    margin-top: -30px;
  }
  .section-newsletter-assign-box {
    margin-left: 0px;
  }
  .page-header-title-image-1 {
    display: none;
  }
  .details-item-title {
    margin-left: 0px;
    padding-right: 0px;
    font-size: 32px;
  }
  .details-item-paragraph {
    margin-bottom: 45px;
    padding-left: 0px;
    font-size: 14px;
  }
  .details-image-column {
    margin-bottom: 5px;
  }
  .paragraph-section-h2 {
    line-height: 60px;
  }
  .form-input {
    margin-bottom: 25px;
  }
  .navbar-shop-button.home-shop-button-mobile.search-button {
    display: none;
  }
  .search-modal_input {
    width: 85%;
  }
  .footer-text {
    margin-bottom: 35px;
  }
  .hero-section_paragraph {
    padding-left: 71px;
  }
  .btn.btn_style_2.section-products_home-btn {
    width: auto;
    margin-right: 10px;
  }
  .btn.btn_style_2.beer-page_btn {
    width: 80%;
  }
  .btn.beer-page_btn {
    width: 80%;
  }
  .section-products_home-item {
    margin-bottom: 55px;
  }
  .section-products_home-title {
    min-height: auto;
  }
  .section-beer_title-line {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-beer_title-line.elements-title_line {
    margin-top: 50px;
  }
}

@media (max-width: 479px) {
  .navbar.page-navbar {
    padding-left: 10px;
  }
  .navbar-menu {
    display: none;
    margin-left: -15px;
    padding-top: 55px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgba(173, 93, 2, .86);
  }
  .navbar-menu.navbar-menu-pages {
    display: none;
    margin-left: -10px;
  }
  .navbar-menu-link {
    font-size: 20px;
  }
  .navbar-menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 40px;
  }
  .navbar-brand {
    width: 52%;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
  }
  .section-title.beer-backend-section-title {
    line-height: 62px;
  }
  .section-title.section-first-beer-title {
    padding-top: 0px;
    font-size: 52px;
    line-height: 47px;
  }
  .section-title.section-first-beer-title.seal-title {
    font-size: 47px;
    line-height: 52px;
  }
  .section-title.section-first-beer-title.kit-title {
    margin-top: 35px;
  }
  .section-title.section-newsletter-title {
    margin-top: 15px;
  }
  .section-title.beer-page-title {
    font-size: 70px;
    line-height: 66px;
  }
  .section-paragraph {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-paragraph.beer-backend-paragraph {
    margin-bottom: 0px;
    color: #d3d3d3;
  }
  .section-paragraph.section-first-beer-paragraph {
    padding-left: 0px;
  }
  .section-paragraph.section-first-beer-paragraph.seal-paragraph {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-beer-backend {
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .beer-background-video-column {
    display: none;
  }
  .beer-background-image-video {
    display: none;
  }
  .background-beer-detail {
    margin-top: 40px;
    padding-top: 0px;
  }
  .background-beer-detail-line {
    display: none;
  }
  .background-beer-detail-text {
    margin-top: 0px;
    padding-left: 0px;
  }
  .section-beer {
    text-align: center;
  }
  .section-beer.page-beer-section {
    padding-right: 10px;
    padding-bottom: 35px;
    padding-left: 10px;
  }
  .navbar-social-icon {
    display: none;
    margin-top: 12px;
  }
  .scroll-navbar {
    padding: 15px 10px;
    opacity: 0;
  }
  .navbar-menu-item {
    margin-bottom: 35px;
  }
  .navbar-close-button {
    margin-top: 25px;
    margin-right: 25px;
  }
  .section-newsletter {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-newsletter-title-icon {
    margin-top: 50px;
  }
  .sectionnewsletter-form-input {
    width: 100%;
    margin-bottom: 5px;
    float: none;
  }
  .section-newsletter-button {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 18px;
    float: none;
  }
  .section-newsletter-assign-box {
    margin-left: 25px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-social-icons-box {
    float: none;
  }
  .footer-social-icon {
    margin-right: 15px;
    margin-left: 0px;
  }
  .footer-text-box {
    margin-top: 10px;
    float: none;
  }
  .page-title {
    padding: 45px 10px 40px;
  }
  .page-header-title {
    font-size: 68px;
    line-height: 55px;
  }
  .page-header-title-image-1 {
    display: none;
  }
  .details-item-title {
    margin-top: 3px;
    margin-left: 0px;
  }
  .details-item-paragraph {
    margin-bottom: 30px;
    padding-left: 0px;
  }
  .paragraph-section {
    padding: 55px 20px;
  }
  .paragraph-section-h2 {
    line-height: 56px;
  }
  .section-contact-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .form-input {
    margin-bottom: 25px;
  }
  .menu-button {
    margin-top: 12px;
    padding: 0px;
    color: #d26a0c;
    font-size: 42px;
  }
  .section-beer-buttons {
    text-align: center;
  }
  .section-beer-seal {
    margin-right: 0px;
  }
  .navbar-shop-button {
    position: static;
    left: -18px;
    margin-top: 31px;
    margin-right: 16px;
    float: none;
  }
  .navbar-shop-button.home-shop-button-mobile {
    margin-top: 26px;
    margin-right: 40px;
  }
  .infos-column {
    padding-left: 10px;
  }
  .search-modal_input {
    width: 85%;
  }
  .footer-text {
    margin-bottom: 35px;
  }
  .footer-text.link {
    display: block;
  }
  .hero-section {
    padding-bottom: 100px;
  }
  .main-navbar_logo-box {
    width: 150px;
    margin-left: 20px;
  }
  .hero-section_content {
    margin-top: 65px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .hero-section_title {
    font-size: 66px;
    line-height: 49px;
  }
  .hero-section_paragraph {
    margin-top: 15px;
    padding-left: 0px;
  }
  .btn.btn_style_2.hero-section_2button {
    margin-top: 10px;
    margin-left: 0px;
  }
  .main-navbar_icons-search {
    margin-right: 20px;
  }
  .section-products_home {
    padding-bottom: 35px;
  }
  .footer-newsletter_input {
    width: 90%;
  }
  .footer-newsletter_btn {
    width: 90%;
    margin-left: 0px;
  }
  .section-beer_title-line {
    margin-bottom: 10px;
  }
  .beer-elements_box {
    margin-left: 0px;
  }
  .section-beer-header {
    text-align: center;
  }
  .section-beer-header_more-link {
    display: block;
    margin-bottom: 20px;
  }
  .section-beer_dropdown-list.w--open {
    top: 40px;
    right: -27px;
  }
  .download-modal {
    padding-top: 75px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .download-modal_title {
    font-size: 52px;
    line-height: 44px;
  }
  .download-modal_form {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navigation-menu-button {
    margin-top: 4px;
    margin-right: 13px;
  }
  .navigation-menu-button.w--open {
    margin-right: 13px;
  }
}

@font-face {
  font-family: 'Abrahamlincoln';
  src: url('../fonts/AbrahamLincoln.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


.project{
  margin-left:10px;
  margin-top:10px;
}
    
   .square{
      width: calc(33.33% - 10px);
      position: relative;

      
    }
    .img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      object-fit:cover;
      top: 0;
    }
    .square::after{
      content:'';
      padding-top: 100%;
      display: block;
    }
   
   .two_rows{
      width: calc(33.33% - 10px);
      
    }
    .two_rows::after{
      content:'';
      padding-top: 120%;
      display: block;
    } 


    
  .two_columns{
      width: calc(66.66% - 10px);
    }
    
    .two_columns::after{
      content:'';
      padding-top: 30%;
      display: block;
    }
 